@keyframes boxReverse {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(72px);
  }
}

@keyframes box {
  from {
    transform: translateX(72px);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes validate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes displayMenu {
  0% {
    opacity: 0;
    margin-top: 5px;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(360deg);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  80%
  {
    opacity: 1;
  }
  100% {
      transform: rotate(0deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  97%
  {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
