$color-primary: #9356DC;
$color-primary-modify: #a179dd;
$color-secondary: #FF79DA;
$color-secondary-modify: #ffa6e4;
$color-tertiary: #99E2D0;

$color-primarygrey: #ebebeb;
$color-secondarygrey: #F6F6F7;

$color-green: #99E2D0;