.footer
{
  font-family: "Roboto", sans-serif;
  background-color: #363636;
  padding-left: 5%;
  color: white;
  padding-top: 5px;
  padding-bottom: 30px;
  &__title
  {
    font-family: "Shrikhand", sans-serif;
  }
  &__links a
  {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  &__link-img
  {
    display: flex;
    i
    {
      width: 8%;
    }
  }
}