.btn-main
{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, $color-secondary, $color-primary);
  color: white;
  text-decoration: none;
  width: 70%;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 7px 16px #0000002e;
  transition: box-shadow 400ms;
}

.btn-main:hover
{
  background: linear-gradient(to bottom right, $color-secondary-modify, $color-primary-modify);
  box-shadow: 0 15px 16px #0000002e;
}

@media screen and (min-width: 760px) and (max-width: 1025px)
{
  .btn-main
  {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 3000px)
{
  .btn-main
  {
    width: 20%;
  }
}