.heart {
  transition: all 300ms;
}

.heart:hover {
  font-weight: 600;
  background: linear-gradient(to bottom right, $color-secondary, $color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}