.loader
{
  position: relative;
  display: flex;
  justify-content: center;
  &__elements
  {
    margin-top: 300px;
    position: absolute;
    animation: loader 1.5s ease-in-out 2;
    opacity: 0;
    div
    {
      margin-top: -11px;
      margin-left: -11px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-green;
      position: absolute;
      &:nth-child(1)
      {
        transform: rotate(0deg) translate(0, -35px);
      }
      &:nth-child(2)
      {
        transform: rotate(45deg) translate(0, -35px);
      }
      &:nth-child(3)
      {
        transform: rotate(90deg) translate(0, -35px);
      }
      &:nth-child(4)
      {
        transform: rotate(135deg) translate(0, -35px);
      }
      &:nth-child(5)
      {
        transform: rotate(180deg) translate(0, -35px);
      }
      &:nth-child(6)
      {
        transform: rotate(225deg) translate(0, -35px);
      }
      &:nth-child(7)
      {
        transform: rotate(270deg) translate(0, -35px);
      }
      &:nth-child(8)
      {
        transform: rotate(315deg) translate(0, -35px);
      }
    }
  }
}