@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes boxReverse {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(72px);
  }
}
@keyframes box {
  from {
    transform: translateX(72px);
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes validate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes displayMenu {
  0% {
    opacity: 0;
    margin-top: 5px;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: rotate(360deg);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  97% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  width: 70%;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 7px 16px #0000002e;
  transition: box-shadow 400ms;
}

.btn-main:hover {
  background: linear-gradient(to bottom right, #ffa6e4, #a179dd);
  box-shadow: 0 15px 16px #0000002e;
}

@media screen and (min-width: 760px) and (max-width: 1025px) {
  .btn-main {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 3000px) {
  .btn-main {
    width: 20%;
  }
}
.heart {
  transition: all 300ms;
}

.heart:hover {
  font-weight: 600;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
}
.loader__elements {
  margin-top: 300px;
  position: absolute;
  animation: loader 1.5s ease-in-out 2;
  opacity: 0;
}
.loader__elements div {
  margin-top: -11px;
  margin-left: -11px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #99E2D0;
  position: absolute;
}
.loader__elements div:nth-child(1) {
  transform: rotate(0deg) translate(0, -35px);
}
.loader__elements div:nth-child(2) {
  transform: rotate(45deg) translate(0, -35px);
}
.loader__elements div:nth-child(3) {
  transform: rotate(90deg) translate(0, -35px);
}
.loader__elements div:nth-child(4) {
  transform: rotate(135deg) translate(0, -35px);
}
.loader__elements div:nth-child(5) {
  transform: rotate(180deg) translate(0, -35px);
}
.loader__elements div:nth-child(6) {
  transform: rotate(225deg) translate(0, -35px);
}
.loader__elements div:nth-child(7) {
  transform: rotate(270deg) translate(0, -35px);
}
.loader__elements div:nth-child(8) {
  transform: rotate(315deg) translate(0, -35px);
}

.appear {
  animation: appear 3.5s;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px #4f4f4f;
  margin-bottom: 3px;
}
.header__logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: #363636;
  padding-left: 5%;
  color: white;
  padding-top: 5px;
  padding-bottom: 30px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
}
.footer__links a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.footer__link-img {
  display: flex;
}
.footer__link-img i {
  width: 8%;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .footer__link-img i {
    width: 3%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 3000px) {
  .footer__link-img i {
    width: 2%;
  }
}
.main {
  font-family: "Roboto", sans-serif;
}
.main__search-bar {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 7px;
}
.main__search-bar input {
  border: none;
  background-color: inherit;
  text-align: center;
  font-size: 0.9em;
  width: 30%;
  margin-left: 1%;
}
.main__introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F7;
  height: 250px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main__introduction h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}
.main__introduction p {
  font-weight: 100;
  margin-bottom: 40px;
}
.main__function {
  padding-top: 30px;
}
.main__function h2 {
  margin-left: 5%;
}
.main__function--global {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
.main__function--containers {
  display: flex;
  background-color: #F6F6F7;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 30px;
  width: 80%;
  border-radius: 50px;
  height: 70px;
}
.main__function--number {
  background-color: #9356DC;
  border-radius: 50px;
  height: 20px;
  padding: 5px 10px 5px 10px;
  color: white;
  margin-top: 20px;
  margin-left: -10px;
}
.main__function--content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}
.main__function--three {
  background-color: rgba(147, 86, 220, 0.1);
}
.main__function--three i {
  color: #9356DC;
}
.main__restaurants {
  padding-top: 30px;
  background-color: #F6F6F7;
}
.main__restaurants--new {
  width: 25%;
  height: 30px;
  background-color: #99E2D0;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}
.main__restaurants h2 {
  margin-left: 5%;
}
.main__restaurants--global {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__restaurants--img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.main__restaurants--container {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 20px;
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.main__restaurants--container figure {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__restaurants--content {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.main__restaurants--text {
  color: black;
}
.main__restaurants--text p {
  margin-top: 4px;
}
.main__restaurants--text h3 {
  text-decoration: none;
  margin-bottom: 4px;
}
.main__restaurants--favory {
  margin-top: 25px;
  color: black;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .main__search-bar input {
    width: 20%;
  }
  .main__function--containers {
    width: 40%;
  }
  .main__restaurants--global {
    flex-flow: row wrap;
    justify-content: center;
  }
  .main__restaurants--container {
    width: 40%;
  }
  .main__restaurants--container-flex {
    margin-right: 5%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 3000px) {
  .main__search-bar input {
    width: 5%;
  }
  .main__function--containers {
    width: 20%;
  }
  .main__restaurants--global {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .main__restaurants--container {
    width: 20%;
  }
}
.header-menu {
  margin-bottom: 0;
}
.header .fa-arrow-left {
  font-size: 1.7rem;
  position: absolute;
  left: 10px;
  top: 18px;
  color: black;
}

.main-menu {
  font-family: "Roboto", sans-serif;
}
.main-menu__img {
  width: 100%;
  object-fit: cover;
}
.main-menu__container {
  background-color: #F6F6F7;
  border-radius: 40px 40px 0px 0px;
  margin-top: -45px;
  position: sticky;
  padding-bottom: 30px;
}
.main-menu__container--encoche {
  width: 20%;
  position: relative;
  border-radius: 0px 20px 20px 0px;
  margin-right: -7%;
  background-color: #99E2D0;
  margin-bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: boxReverse 400ms linear both;
}
.main-menu__container--logo-validate {
  background-color: white;
  border-radius: 100px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu__container--logo-validate i {
  color: #99E2D0;
}
.main-menu__container--title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-menu__container--title h1 {
  font-family: "Shrikhand", sans-serif;
}
.main-menu__container--component h2 {
  margin-left: 5%;
}
.main-menu__container--component h2::after {
  content: "";
  font-size: 1px;
  padding: 0px 30px 0px 30px;
  border-top: #99E2D0 solid 5px;
}
.main-menu__container--elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.main-menu__container--article {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 15px;
  border-radius: 20px;
  padding-right: 8%;
  padding-left: 5%;
  box-shadow: 0 0 16px #0000002e;
}
.main-menu__container--article:not(:hover) {
  overflow: hidden;
}
.main-menu__container--article:hover {
  overflow: hidden;
}
.main-menu__container--article:hover .main-menu__container--encoche {
  animation: box 400ms linear both;
}
.main-menu__container--article:hover .main-menu__container--encoche .main-menu__container--logo-validate i {
  animation: validate 400ms linear;
}
.main-menu__container--article:hover .price {
  animation: box 400ms linear both;
}
.main-menu__container--article:hover .main-menu__container--article-infos p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-menu__container--article-infos {
  width: 75%;
  position: relative;
}
.main-menu__container--article-infos h3 {
  margin-bottom: 0;
  font-size: 1.1em;
}
.main-menu__container--article-infos p {
  font-size: 0.9em;
  margin-top: 0;
  white-space: initial;
  overflow: hidden;
  width: 100%;
}
.main-menu__container--article span {
  margin-right: 7%;
  margin-top: 40px;
  position: relative;
  animation: boxReverse 400ms linear both;
}
.main-menu__container--article-one {
  animation: displayMenu 1.2s;
}
.main-menu__container--article-two {
  animation: displayMenu 1.4s;
}
.main-menu__container--article-three {
  animation: displayMenu 1.6s;
}
.main-menu__container--article-four {
  animation: displayMenu 1.8s;
}
.main-menu__container--submit {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1025px) and (max-width: 3000px) {
  .main-menu__img {
    height: 400px;
  }
  .main-menu__container--article {
    width: 35%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .main-menu__container--title {
    padding-left: 33%;
    padding-right: 33%;
  }
  .main-menu__container--component h2 {
    margin-left: 30%;
  }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .main-menu__container--article {
    width: 70%;
    padding-right: 0;
  }
  .main-menu__container--encoche {
    width: 10%;
    margin-right: 0;
  }
}
@media screen and (min-width: 400px) and (max-width: 759px) {
  .main-menu__container--article {
    width: 80%;
    padding-right: 1%;
  }
  .main-menu__container--article p {
    margin-left: -5px;
  }
  .main-menu__container--encoche {
    width: 15%;
    margin-right: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
