.main
{
  font-family: 'Roboto', sans-serif;
  &__search-bar
  {
    background-color: $color-primarygrey;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 7px;
    input
    {
      border: none;
      background-color: inherit;
      text-align: center;
      font-size: 0.9em;
      width: 30%;
      margin-left: 1%;
    }
  }
  &__introduction
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $color-secondarygrey;
    height: 250px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    h2
    {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 10%;
      padding-right: 10%;
    }
    p
    {
      font-weight: 100;
      margin-bottom: 40px;
    }
  }
  &__function
  {
    padding-top: 30px;
    h2
    {
      margin-left: 5%;
    }
    &--global
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding-left: 0;
    }
    &--containers
    {
      display: flex;
      background-color: $color-secondarygrey;
      box-shadow: 0 0 16px #0000002e;
      margin-bottom: 30px;
      width: 80%;
      border-radius: 50px;
      height: 70px;
    }
    &--number
    {
      background-color: $color-primary;
      border-radius: 50px;
      height: 20px;
      padding: 5px 10px 5px 10px;
      color: white;
      margin-top: 20px;
      margin-left: -10px;
    }
    &--content
    {
      display: flex;
      justify-content: space-around;
      width: 80%;
      align-items: center;
    }
    &--three
    {
      background-color: rgba(147, 86, 220, 0.1);
      i
      {
        color: $color-primary;
      }
    }
  }
  &__restaurants
  {
    &--new
    {
      width: 25%;
      height: 30px;
      background-color: $color-green;
      color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 5px;
    }
    padding-top: 30px;
    h2
    {
      margin-left: 5%;
    }
    &--global
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    background-color: $color-secondarygrey;
    &--img
    {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }
    &--container
    {
      box-shadow: 0 0 16px #0000002e;
      border-radius: 20px;
      width: 90%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      figure
      {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &--content
    {
      display: flex;
      justify-content: space-between;
      width: 90%;
    }
    &--text
    {
      color: black;
      p
      {
        margin-top: 4px;
      }
      h3
      {
        text-decoration: none;
        margin-bottom: 4px;
      }
    }
    &--favory
    {
      margin-top: 25px;
      color: black;
    }
  }
}