@media screen and (min-width: 1025px) and (max-width: 3000px)
{
  .main
  {
    &__search-bar
    {
      input
      {
        width: 5%;
      }
    }
    &__function
    {
      &--containers
      {
        width: 20%;
      }
    }
    &__restaurants
    {
      &--global
      {
        flex-flow: row wrap;
        justify-content: space-evenly;
      }
      &--container
      {
        width: 20%;
      }
    }
  }
}