@media screen and (min-width: 760px) and (max-width: 1024px)
{
  .main
  {
    &__search-bar
    {
      input
      {
        width: 20%;
      }
    }
    &__function
    {
      &--containers
      {
        width: 40%;
      }
    }
    &__restaurants
    {
      &--global
      {
        flex-flow: row wrap;
        justify-content: center;
      }
      &--container
      {
        width: 40%;
        &-flex
        {
          margin-right: 5%;
        }
      }
    }
  }
}