@media screen and (min-width: 1025px) and (max-width: 3000px)
{
  .main-menu
  {
    &__img
    {
      height: 400px;
    }
    &__container
    {
      &--article
      {
        width: 35%;
        padding-left: 1%;
        padding-right: 1%;
      }
      &--title
      {
        padding-left: 33%;
        padding-right: 33%;
      }
      &--component
      {
        h2
        {
          margin-left: 30%;
        }
      }
    }
  }
}