.header
{
  &-menu
  {
    margin-bottom: 0;
  }
  .fa-arrow-left
  {
    font-size: 1.7rem;
    position: absolute;
    left: 10px;
    top: 18px;
    color: black;
  }
}

.main-menu
{
  font-family: "Roboto", sans-serif;
  &__img
  {
    width: 100%;
    object-fit: cover;
  }
  &__container
  {
    background-color: $color-secondarygrey;
    border-radius: 40px 40px 0px 0px;
    margin-top: -45px;
    position: sticky;
    padding-bottom: 30px;
    &--encoche
    {
      width: 20%;
      position: relative;
      border-radius: 0px 20px 20px 0px;
      margin-right: -7%;
      background-color: $color-green;
      margin-bottom: -1px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: boxReverse 400ms linear both;
    }
    &--logo-validate
    {
      background-color: white;
      border-radius: 100px;
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      i
      {
        color: $color-green;
      }
    }
    &--title
    {
      display: flex;
      justify-content: space-around;
      align-items: center;
      h1
      {
        font-family: "Shrikhand", sans-serif;
      }
    }
    &--component
    {
      h2
      {
        margin-left: 5%;
      }
      h2::after
      {
        @include separator;
      }
    }
    &--elements
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      list-style: none;
    }
    &--article
    {
      background-color: white;
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 15px;
      border-radius: 20px;
      padding-right: 8%;
      padding-left: 5%;
      box-shadow: 0 0 16px #0000002e;
      &:not(:hover)
      {
        overflow: hidden;
      }
      &:hover
      {
        overflow: hidden;
        .main-menu__container--encoche
        {
          animation: box 400ms linear both;
          .main-menu__container--logo-validate
          {
            i
            {
              animation: validate 400ms linear;
            }
          }
        }
        .price
        {
          animation: box 400ms linear both;
        }
        .main-menu__container--article-infos
        {
          p
          {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
      &-infos
      {
        width: 75%;
        position: relative;
        h3
        {
          margin-bottom: 0;
          font-size: 1.1em;
        }
        p
        {
          font-size: 0.9em;
          margin-top: 0;
          white-space: initial;
          overflow: hidden;
          width: 100%;
        }
      }
      span
      {
        margin-right: 7%;
        margin-top: 40px;
        position: relative;
        animation: boxReverse 400ms linear both;
      }
      &-one
      {
        animation: displayMenu 1.2s;
      }
      &-two
      {
        animation: displayMenu 1.4s;
      }
      &-three
      {
        animation: displayMenu 1.6s
      }
      &-four
      {
        animation: displayMenu 1.8s
      }
    }
    &--submit
    {
      display: flex;
      justify-content: center;
    }
  }
}