@media screen and (min-width: 760px) and (max-width: 1024px)
{
  .main-menu
  {
    &__container
    {
      &--article
      {
        width: 70%;
        padding-right: 0;
      }
      &--encoche
      {
        width: 10%;
        margin-right: 0;
      }
    }
  }
}