@media screen and (min-width: 400px) and (max-width: 759px)
{
  .main-menu
  {
    &__container
    {
      &--article
      {
        width: 80%;
        padding-right: 1%;
        p
        {
          margin-left: -5px;
        }
      }
      &--encoche
      {
        width: 15%;
        margin-right: 3px;
      }
    }
  }
}